/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
span, a, li, p, dl, dt, dd, table, th, td, strong, h1, h2, h3, h4, h5, button {transform: skew(-0.1deg);}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html body * { font-family: 'Roboto', sans-serif; }
.thin      { font-weight: 100 }
.light		{ font-weight: 300 }
.medium		{ font-weight: 500 }
.bold		{ font-weight: 700 }

.pc-wrap {    
    max-width: 1100px;
    box-sizing: border-box;
    padding: 0 15px;
    width: 100%;
}

.red {color: #FF3A3A;}
.green {color: #0ADA83;}
.yellow {color: #FFC01F;}

.red-bg {background-color: #FF3A3A;}
.green-bg {background-color: #0ADA83;}
.yellow-bg {background-color: #FFC01F;}
.grade-wrap .accordion-list ul li .uk-accordion-content .chart-area ul.tab-list li.uk-active .gradient-red {border:none; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FF3A3A 100%);}
.grade-wrap .accordion-list ul li .uk-accordion-content .chart-area ul.tab-list li.uk-active .gradient-green {border:none; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #0ADA83 100%);}
.grade-wrap .accordion-list ul li .uk-accordion-content .chart-area ul.tab-list li.uk-active .gradient-yellow {border:none; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFC01F 100%);}
/*대시보드*/
.dashboard-wrap {}
.dashboard-wrap .pc-wrap {}
.dashboard-wrap .dashboard-cont-box {background: #F6F8FB; border: 1px solid #E3E6E8; box-sizing: border-box; padding:30px;}
.dashboard-wrap .dashboard-cont-box h3.content-title {padding-bottom:5px; color:#333; font-size: 36px; font-weight: 400; line-height: 42px; border-bottom: 2px solid #C7CDD1;}
.dashboard-wrap .dashboard-cont-box .cont-box {margin-bottom:80px;}


/*대시보드 공지사항, QnA */
.dashboard-wrap .dashboard-cont-box .lecture-notice-list {overflow:hidden;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li {display:inline-block; width:25%; float:left; padding:0 10px; box-sizing: border-box; margin-top: 20px; cursor: pointer;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li .lecture-level {border: 1px solid #C7CDD1; border-radius: 5px; background: #FFFFFF; padding:15px; position:relative;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li .lecture-level h4 {margin-bottom:10px; font-size: 24px; font-style: normal; font-weight: 700; line-height: 28px; color:#ee2f44;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li .lecture-level p strong {font-weight: normal; font-size: 24px; line-height: 28px; color:#333;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li .lecture-level .date {font-size: 18px; line-height: 21px; color:#333; margin-top:5px;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li .lecture-level .status-num {font-size:30px; color:#fff; text-align: center; line-height:60px; width:60px; height:60px; display:inline-block; border-radius: 5px 0px; position: absolute; right:0; bottom:0; background-color: #D80000;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li:nth-child(1) .lecture-level h4 {color:#ee2f44;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li:nth-child(2) .lecture-level h4 {color:#518bc9;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li:nth-child(3) .lecture-level h4 {color: #efd31a;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li:nth-child(4) .lecture-level h4 {color: #a1cd49;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li:nth-child(5) .lecture-level h4 {color: #f4ae1a;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li:nth-child(6) .lecture-level h4 {color: #f36b28;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li:nth-child(7) .lecture-level h4 {color: #ef4924;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li:nth-child(8) .lecture-level h4 {color: #ec468b;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li:nth-child(9) .lecture-level h4 {color: #b856a1;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li:nth-child(10) .lecture-level h4 {color: #915ba6;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li:nth-child(11) .lecture-level h4 {color: #27beb6;}
.dashboard-wrap .dashboard-cont-box .lecture-notice-list li:nth-child(12) .lecture-level h4 {color: #67bf6b;}

/*대시보드 학습활동관리, 강의실*/
.dashboard-wrap .dashboard-cont-box .learning-management-list {overflow:hidden;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li {display:inline-block; width:25%; float:left; padding:0 10px; box-sizing: border-box; margin-top: 20px; cursor: pointer;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li .management-box {border: 1px solid #C7CDD1; border-radius: 5px; background: #FFFFFF; position:relative;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li .management-box h4 {margin-bottom:10px; font-size: 24px; font-style: normal; font-weight: 700; line-height: 28px; color:#ee2f44;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li .management-box p strong {font-weight: 400; font-size: 18px; line-height: 21px; color:#333;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li .management-box .management-top {padding:15px; background-size:150px;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li .management-box .badbg {background: url(../img/badbg.png)no-repeat; background-position: bottom right; background-size: 145px;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li .management-box .goodbg {background: url(../img/Goodbg.png)no-repeat; background-position: bottom right; background-size: 145px;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li .management-box .normalbg {background: url(../img/normalbg.png)no-repeat; background-position: bottom right; background-size: 145px;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li table {width: 100%; text-align:center;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li table tr {}
.dashboard-wrap .dashboard-cont-box .learning-management-list li table tr th {font-size:18px; color:#000; line-height:48px; border: 1px solid #C7CDD1; background-color: #EAEEF4;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li table tr th strong {}
.dashboard-wrap .dashboard-cont-box .learning-management-list li table tr td {font-size:16px; color: #000; line-height:48px; border: 1px solid #C7CDD1;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li table tr td strong {font-size:18px; font-weight:bold; }
.dashboard-wrap .dashboard-cont-box .learning-management-list li table tr td span {}

.dashboard-wrap .dashboard-cont-box .learning-management-list li:nth-child(1) .management-box h4 {color:#ee2f44;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li:nth-child(2) .management-box h4 {color:#518bc9;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li:nth-child(3) .management-box h4 {color: #efd31a;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li:nth-child(4) .management-box h4 {color: #a1cd49;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li:nth-child(5) .management-box h4 {color: #f4ae1a;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li:nth-child(6) .management-box h4 {color: #f36b28;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li:nth-child(7) .management-box h4 {color: #ef4924;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li:nth-child(8) .management-box h4 {color: #ec468b;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li:nth-child(9) .management-box h4 {color: #b856a1;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li:nth-child(10) .management-box h4 {color: #915ba6;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li:nth-child(11) .management-box h4 {color: #27beb6;}
.dashboard-wrap .dashboard-cont-box .learning-management-list li:nth-child(12) .management-box h4 {color: #67bf6b;}

/*대시보드 모바일 css*/
@media all and (max-width: 768px)
{
		.dashboard-wrap .pc-wrap {padding:0;}
		.dashboard-wrap .dashboard-cont-box {padding:10px;}
        .dashboard-wrap .dashboard-cont-box .lecture-notice-list li {width:100%;} 
        .dashboard-wrap .dashboard-cont-box .learning-management-list li {width:100%;}
}


/* 성적관리 */
.grade-wrap {background-color: #F6F8FB; min-height: 100vh; padding: 40px 0;}
.grade-wrap .accordion-list .uk-accordion-title::before {display: none;}
.grade-wrap .accordion-list .uk-accordion-title span span {transition: all 0.3s;}
.grade-wrap .accordion-list .uk-open .uk-accordion-title span span {transform: rotate(90deg);}


.grade-wrap .accordion-list {width:1280px; border:1px solid #C7CDD1; background-color: #fff; padding: 10px; box-sizing: border-box;}
.grade-wrap .accordion-list>h2 {margin-bottom:5px; font-style: normal; font-weight: bold; font-size: 18px;}
.grade-wrap .accordion-list .accordion-header {}
.grade-wrap .accordion-list .accordion-header dl {width:100%; text-align:center; overflow: hidden;}
.grade-wrap .accordion-list .accordion-header dl dt {box-sizing: border-box; font-weight: bold; font-size: 14px; line-height: 17px; color: #333; background-color: #E1E0E0; line-height: 40px; border:1px solid #9EA3A6; border-right: none; display:inline-block; float:left;}
.grade-wrap .accordion-list .accordion-header dl dt:last-child {border-right: 1px solid #9EA3A6;}
.grade-wrap .accordion-list .accordion-header dl dt:nth-child(1) {width:5%;}
.grade-wrap .accordion-list .accordion-header dl dt:nth-child(2) {width:13%;}
.grade-wrap .accordion-list .accordion-header dl dt:nth-child(3) {width:12%;}
.grade-wrap .accordion-list .accordion-header dl dt:nth-child(4) {width:10%;}
.grade-wrap .accordion-list .accordion-header dl dt:nth-child(5) {width:15%;}
.grade-wrap .accordion-list .accordion-header dl dt:nth-child(6) {width:25%;}
.grade-wrap .accordion-list .accordion-header dl dt:nth-child(7) {width:10%;}
.grade-wrap .accordion-list .accordion-header dl dt:nth-child(8) {width:10%;}

.grade-wrap .accordion-list>ul>li {margin:0;}
.grade-wrap .accordion-list>ul>li:nth-child(even) {background-color:  #EBEAEA;}
.grade-wrap .accordion-list ul li .uk-accordion-title {overflow:hidden;}
.grade-wrap .accordion-list ul li .uk-accordion-title div {box-sizing: border-box; border:1px solid #C7CDD1; border-right: none; border-top:none; display:inline-block; float:left; text-align:center;}
.grade-wrap .accordion-list ul li .uk-accordion-title div:last-child {border-right: 1px solid #C7CDD1;}
.grade-wrap .accordion-list ul li .uk-accordion-title div span {font-size:14px; color: #333;}
.grade-wrap .accordion-list ul li .uk-accordion-title div:nth-child(1) {width:5%;}
.grade-wrap .accordion-list ul li .uk-accordion-title div:nth-child(2) {width:13%;}
.grade-wrap .accordion-list ul li .uk-accordion-title div:nth-child(3) {width:12%;}
.grade-wrap .accordion-list ul li .uk-accordion-title div:nth-child(4) {width:10%;}
.grade-wrap .accordion-list ul li .uk-accordion-title div:nth-child(5) {width:15%;}
.grade-wrap .accordion-list ul li .uk-accordion-title div:nth-child(6) {width:25%;}
.grade-wrap .accordion-list ul li .uk-accordion-title div:nth-child(7) {width:10%;}
.grade-wrap .accordion-list ul li .uk-accordion-title div:nth-child(8) {width:10%;}
.grade-wrap .accordion-list ul li .uk-accordion-title div:nth-child(7) span {font-size: 18px;}
.grade-wrap .accordion-list ul li .uk-accordion-title div:nth-child(8) span {font-size: 18px;}
.grade-wrap .accordion-list ul li .uk-accordion-content {background-color:#fff; margin-top: 0; border: 1px solid #C7CDD1; border-top:none; overflow:hidden; padding:10px;}
.grade-wrap .accordion-list ul li .uk-accordion-content>div {display:inline-block; float:left;}
.grade-wrap .accordion-list ul li .uk-accordion-content .col-5 {width:40%;}
.grade-wrap .accordion-list ul li .uk-accordion-content .col-7 {width:60%;}

.grade-wrap .accordion-list ul li .uk-accordion-content div .infobox {overflow:hidden; margin-bottom:20px;}
.grade-wrap .accordion-list ul li .uk-accordion-content div dl {display:inline-block; width:33%; float:left;}
.grade-wrap .accordion-list ul li .uk-accordion-content div .user {}
.grade-wrap .accordion-list ul li .uk-accordion-content div .user dt {font-size:24px; color:#333;}
.grade-wrap .accordion-list ul li .uk-accordion-content div .user dd {font-size: 14px; color:#333;margin-top:20px;}
.grade-wrap .accordion-list ul li .uk-accordion-content div .score {}
.grade-wrap .accordion-list ul li .uk-accordion-content div .score dt {display:inline-block; font-size:14px; font-weight: 700; color:#333; margin-right:10px;}
.grade-wrap .accordion-list ul li .uk-accordion-content div .score dd {display:inline-block; font-size:48px; font-weight: 700; vertical-align: middle;}
.grade-wrap .accordion-list ul li .uk-accordion-content div .text-box {background: #F6F8FB; padding:18px; font-size:14px; font-weight: 400; line-height:1.3;}


.grade-wrap .accordion-list ul li .uk-accordion-content .chart-area .chart-box {border: 1px solid #C7CDD1;}
.grade-wrap .accordion-list ul li .uk-accordion-content .chart-area {padding:0 15px; box-sizing: border-box; position:relative; height:240px;}
.grade-wrap .accordion-list ul li .uk-accordion-content .chart-area ul.tab-list {position:absolute; bottom:0; width:100%; overflow:hidden; padding:0 15px; box-sizing: border-box;}
.grade-wrap .accordion-list ul li .uk-accordion-content .chart-area ul.tab-list li {width:16.66%; float:left; padding: 0; text-align:center;}
.grade-wrap .accordion-list ul li .uk-accordion-content .chart-area ul.tab-list li span {display:inline-block; width:100%; line-height:40px; font-size: 18px; color:#333;}
.grade-wrap .accordion-list ul li .uk-accordion-content .chart-area ul.tab-list li a {height: 40px; display: inline-block; width:100%; padding:0; line-height:40px; font-size:14px; color:#333; font-weight:700; box-sizing: border-box;}
.grade-wrap .accordion-list ul li .uk-accordion-content .chart-area ul.tab-list li.uk-disabled a {color:#ccc;}
.grade-wrap .accordion-list ul li .uk-accordion-content .chart-area ul.tab-list li.uk-disabled span {color:#ccc;}
.grade-wrap .accordion-list ul li .uk-accordion-content .chart-area ul.tab-list li.uk-active a {box-sizing: border-box;}

.grade-wrap .accordion-list ul li.drag-list {background-color: #FF0000; padding:3px; border: 2px solid #000000;}
.grade-wrap .accordion-list ul li.drag-list p {overflow:hidden; line-height: 27px; color:#fff; cursor: grab;}
.grade-wrap .accordion-list ul li.drag-list p input {float:right; margin:0 10px; font-size:14px; width: 48px; border-radius:5px; outline: none; border:none; vertical-align: middle; text-align: center; height:25px;}
.grade-wrap .accordion-list ul li.drag-list p button {float:right; height:25px; color:#fff; border:1px solid #fff; border-radius: 5px; background-color:transparent;}





